<!-- Bootstrap template: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>MNIST Number Prediction - Home</title>

</head>

<body onload="init()" onmousedown="draw()">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/scripts/canvasFunctions.js" type="text/javascript"></script>
    <header>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>    
                </div>
                <a class="navbar-brand" href="#"></a>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="container">
        <h1>Digit Recognition with MNIST, Keras and Tensorflow</h1>
        <h4>David Gallagher</h4>

<h3>Project Specs</h3>
<p>
    Train a Neural Network(NN) using <a href="//keras.io/)">Keras</a> and <a href="https://www.tensorflow.org/">Tensorflow</a>.<br>
    The NN will use the <a href="http://yann.lecun.com/exdb/mnist/">MNIST</a> dataset to train and recognise digits 0-9. 
    We then use that trained NN to predict the number passed to it.<br>
    Build a client and server application using <a href="http://flask.palletsprojects.com/en/1.1.x/">Flask</a>. <br>
    The Flask server will receive an image from the client which has been drawn by the user on a canvas and use the NN to predict what digit is in the image.
</p>
<h3>Useful Python links for this project.</h3>
<ul>
<li><a href="https://www.python.org/">Python</a></li>
<li><a href="https://www.tensorflow.org/">Tensorflow</a></li>
<li><a href="https://keras.io/">Keras</a></li>
<li><a href="http://flask.palletsprojects.com/en/1.1.x/">Flask</a></li>
<li><a href="https://numpy.org/">Numpy</a></li>
<li><a href="https://imageio.readthedocs.io/en/stable/">Imageio</a></li>
<li><a href="https://docs.python.org/2/library/base64.html">Base64</a></li>
<li><a href="https://docs.python.org/3/library/json.html">JSON</a></li>
</ul>
<h3> Useful Software links for this project.</h3>
<ul>
    <li><a href="https://www.anaconda.com/distribution/">Anaconda</a> - packages python libraries commonly used for development.</li>
    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a> - a lightweight and prominent cross-platform IDE for development.</li>
    <li><a href="https://cmder.net/">Cmder</a> - a better console/terminal for windows.</li>
    <li><a href="https://git-scm.com/downloads">Github</a> - to clone and use this repository.</li>
    <li><a href="https://jupyter.org/">Jupyter Notebook</a> -  
        <a href="https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/">A Quick guide to get started</a>, and a great 
        <a href="https://github.com/jupyter/jupyter/wiki/A-gallery-of-interesting-Jupyter-Notebooks">resource</a> for getting started.</li>
</ul>

<h3><a href="https://github.com/d-gallagher/ET_Jupyter/blob/master/Learning_MNIST%20DNN.ipynb"> Neural Network </a></h3>
<p>The NN powering the digit recognition is explained in more detail here with references to resources and research materials used in this project.</p>

<h3> How to use this repository.</h3>
<p>**! _IMPORTANT_: You will need Git <a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git">installed locally</a>. I also reccommend using <a href="https://www.anaconda.com/distribution/">Anaconda</a>, which includes the packages used in this project.**</p>

<h4>Instructions</h4>
<figure>
    <figcaption> Open terminal/console in your directory.</figcaption>
    <ul><li>Clone this repository:</li></ul>
    <pre><code>git clone https://github.com/d-gallagher/ET_Jupyter.git</code></pre>
    <ul><li>Change to the Project directory:</li></ul>
    <pre><code>CD ET_Jupyter</code></pre>
    <ul><li>Run the Application:</li></ul>
    <pre><code>python Flask/app.py</code></pre>
    <ul><li>Open your preferred browser and go to localhost:5050</li></ul>
</figure>

</main>
</body>
</html>

