<!-- Bootstrap template: https://getbootstrap.com/docs/4.3/getting-started/introduction/ -->
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>MNIST Number Prediction - Home</title>

</head>

<body onload="init()" onmousedown="draw()">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="../static/scripts/canvasFunctions.js" type="text/javascript"></script>
    <header>
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>    
                </div>
                <a class="navbar-brand" href="#"></a>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                </div>
            </nav>
        </div>
    </header>

    
    <main role="main" class="container">
        <div>
        <canvas id="MNISTCanvas"></canvas>
        </div>
        <div>
            <button name="btnClear" id="ClearCanvas" onclick="clearCanvas()">Clear</button>
            <button name="btnSubmit" id="btnPredict" onclick="getData()" >Predict</button>
        </div>
            <div class="text-center">
            <h2 id="numberprediction">Your prediction will display here..</h2>
        </div>
        <div id="chart">
            <canvas id="myChart"></canvas>
        </div>
    </main>
    
    <script>
    // Holding data for the Chart Display 
    var listOfPercentages = new Object;
    var dataForChart = new Array();

    // Handles Data from html to flask and returnData from flask
    function getData() {
    // grab the canvas on the page
    var canvas = document.getElementById("MNISTCanvas");
    // get base 64 encoded image
    var canvasUrl = canvas.toDataURL();
    // split the text from the url
    var imgData = canvasUrl.split(',')[1];
    // Data obj for the canvas
    let canvasEntry = {
        data: imgData
    }

    // https://pythonise.com/series/learning-flask/flask-and-fetch-api
    // Send post method with payload of JSON Image data from canvas to the Flask Application.
    fetch(`${window.origin}/postmethod`, {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(canvasEntry),
        cache: "no-cache",
        headers: new Headers({
            "content-type": "application/json"
        })
        })// Retrieve the response from the Flask application
        .then(function (response) {
            // Handle any error and inform the user in the console with the status (for testing)
            if (response.status !== 200) {
            console.log(`Looks like there was a problem. Status code: ${response.status}`);
            return;
            }
            // Take the successful response and process the data
            response.json().then(function (data) {
            // We take a JSON object with two items - the prediction and the list of prediction percentages.
            // Seperate the percentages into an object (We set the Key:Val in Flask before sending)
            listOfPercentages = data.returnAllPredictions;
            // Parse the object as JSON for processing
            var jsonData = JSON.parse(listOfPercentages);
            // Take the array of data from the object
            dataForChart = jsonData.returnData[0];
            // Loop through the array and convert to floats
            for (var i = 0; i < dataForChart.length; i++) {
                dataForChart[i] = parseFloat(dataForChart[i]);
                // Further processing here proved unneccessary. I thought the chart was not displaying floats (Hence *10 convert to Int).
                // However the Chart is actually displaying the Value Axis as 0.0 - 1.0,
                // which infers that it's seeing the array data but not displaying it..?
                // dataForChart[i] *= 10;
                // dataForChart[i] = parseInt(dataForChart[i]);
            }

            // Log the array of data to the console - Chart isn't giving me the data so this will do as a backup for reviewing results.
            console.log("dataForChart:",dataForChart);
            document.getElementById("numberprediction").innerText = data.returnPredictionResult;
            });
        })
        // Catch any unexpected errors and log them to console.
        .catch(function (error) {
            console.log("Fetch error: " + error);
        });

    } // End getData

    // Set up chart - https://www.chartjs.org/docs/latest/
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'],
            datasets: [{
                label: 'Prediction Results',
                data: dataForChart,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>
  </body>
  </html>


 
