body{
    margin: 2;
    font-family: sans-serif;
}

#MNISTCanvas { 
    border: 2px solid rgb(0, 0, 0); 
    width: 300px;
    height: 250px;
    background-color: black;
}

.btn{
    background-color: rgb(102,153,255);
}
#myChart{
    border: 2px solid rgb(102,153,255);
    width: 300px;
    height: 250px;
}
#footer{
    margin-top: 100px;
}
